








*{
    margin: 0px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    cursor: default;
    color: white;
    border: none;
    

}
body{width: 100%;}



h1{
    font-size: 6vw;

}
h2{
 font-size: 3vw;
}
h3{
    font-size: 1.5vw;
}
h4{
    font-size: 1vw;
}
h5{

}
h6{
    font-size: 0.4vw;
    background-color: black;
    text-align: right;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 10px;
    
}
footer div {
    display: flex;
    flex-direction:column ;
}
footer div div a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inFTitle{

}
.inFText{
    
}
.inFPart{
    
}
.inFIcon{
    width: 2.5vw;
    height: 2.5vw;
    align-items: center;
    margin-left: 5px;
}

.inHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 2px 30px 5px rgb(0, 0, 0);
    background-color:#064273;
    position: relative ;
}

.inInheader{
    transition: all 0.5s linear;
    transition-delay:0.1s ;
}

.inInheader:hover{
    scale: 1.1;
    
    
}


.inHeaderBackground{
    width: 100%;
    height: 100%;
    background: url("img/in_beackground_header.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95dvh;
    z-index: -20;
    background-size: cover;
    background-attachment: fixed;

}
.inHeaderText{
    font-size: 7vw;
    position: absolute;
    top: 38%;
    display: flex;
    text-align: start;
    align-items: center;
    margin-left: 3vw;
    text-shadow: 0px 0px 10px  rgb(0, 0, 0);
}
.inHeaderWhyWe{
    font-size: 5vw;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 10px  rgb(0, 0, 0);
}
.inHeaderBDiv1{
    flex: 1;
}
.inHeaderBDiv2{
    flex: none;
}




/*index*/




.inWhyWeInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3.5vh;

}
.inWhyWeBlock{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 3.5vh;
    transition: all 0.3s linear;
    position: relative;
    transition-delay:0.1s ;

}

.inWhyWeBlockImg{
    width: 40vw;
    height: 30vw;
    background: no-repeat cover;
    border-radius: 2vw 0px 0px 2vw ;
    
}
.inWhyWeBlockText{
    background-color: #064273;
    display: flex ;
    flex-direction: column;
    justify-content: center;
}

.inWhyWeBlockH2{
    margin: 10px 10px 5px 10px;
}
.inWhyWeBlockH3{
    margin: 0px 10px 10px 10px;
}






.inNumbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.inNImg{
    width: 12vw;
    height: 9vw;
}
.InNButton{
    background-color: #064273;
}
.inBuyNumbers{
    background-color: #064273;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
  }
  
.inBuyNumbers:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}
.inNumbersPart{

}



@media  screen and (max-width: 768px) {
    header{
        padding: 1.5vh 0px 1.5vh 0px;
        font-size: 3vw;
    }
    footer div h3{
        font-size:3vw;
        
    }
    footer div h4,footer div div{
        font-size:2.5vw;
    }

    .inHeaderBackground{
        height: 40dvh;


    }

    .inHeaderBackground, .inHeaderBDiv1, .inHeaderBDiv2 {
        background-attachment: scroll; 
        background-size: cover; 
        position: static;
    }
    .inHeaderText{
        position: static;
        margin-top: 13dvh;

    }
    .inInheader{
        font-size: 4vw;
        background-attachment: initial;
    }
    .inWhyWeBlock{
        width: 100%;
        margin-bottom: 10px;
    }
    .inWhyWeBlockImg{
        width: 50vw;
        height: 37.5vw;
        background: no-repeat cover;
        border-radius: 0px
    }
    .inWhyWe{
        margin-bottom: 10px;
    }
    .inWhyWeBlockH2{
        margin-left: 15px;
        font-size: 3.5vw;
    }
    .inWhyWeBlockH3{
        margin-left: 10px;
        font-size: 2vw;
    }















}


/*rooms*\










