.preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: all 0.5s linear;
    }
    
    .loader {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 10px solid #064273;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        border-color: #FF3D00;
        animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
        inset: 20px;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
          100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
      }





*{
    margin: 0px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    cursor: default;
    color: white;
    border: none;
    transition: all 0.2s linear;
    

}
body{width: 100%;}



h1{
    font-size: 6vw;

}
h2{
 font-size: 3vw;
}
h3{
    font-size: 1.5vw;
}
h4{
    font-size: 1vw;
}
h5{

}
h6{
    font-size: 0.7vw;
    background-color: black;
    text-align: right;
}


footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 10px;
    
}
footer div {
    display: flex;
    flex-direction:column ;
}
footer div div a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inFIcon{
    width: 2.5vw;
    height: 2.5vw;
    align-items: center;
    margin-left: 5px;
}

.inHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 2px 30px 5px rgb(0, 0, 0);
    background-color:#064273;
    position: relative ;
    padding: 5px 00px;
}

.inInheader{
    transition: all 0.5s linear;
    transition-delay:0.1s ;
    color: white;
    text-decoration: none;
}

.inInheader:hover{
    scale: 1.1;
    
    
}


.inHeaderBackground{
    width: 100%;
    height: 100%;
    background: url("img/in_beackground_header.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95dvh;
    z-index: -20;
    background-size: cover;
    background-attachment: fixed;

}
.inHeaderText{
    font-size: 4.3vw;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 3vw;
    text-shadow: 0px 0px 10px  rgb(0, 0, 0);
}
.inHeaderWhyWe{
    font-size: 2.5vw;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 10px  rgb(0, 0, 0);
}
.inHeaderBDiv1{
    display: flex;
    flex: 1;
}
.inHeaderBDiv2{
    
    flex: 0;
}
header>h2>a{
    color: white;
    text-decoration: none;
}



/*index*/




.inWhyWeInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3.5vh;

}
.inWhyWeBlock{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 3.5vh;
    transition: all 0.3s linear;
    position: relative;
    transition-delay:0.1s ;

}

.inWhyWeBlockImg{
    width: 40vw;
    height: 30vw;
    background: no-repeat cover;
    border-radius: 2vw 0px 0px 2vw ;
    
}
.inWhyWeBlockText{
    background-color: #064273;
}

.inWhyWeBlockH2{
    margin: 10px 10px 5px 10px;
    text-align: center;
    font-size: 3vw;
}
.inWhyWeBlockH3{
    margin: 0px 10px 10px 10px;
    font-size: 2vw;
}



/* rooms */

.inNumbersH2{
    background-color: #064273;
    width: 100%;
    text-align: center;
    margin-bottom: 2.5vh;
}

.InNButton{
    background-color: #064273;
}
.inBuyNumbers{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    color:white;
    background-color: #064273;
}
   
.inBuyNumbers:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
   
.inBuyNumbers:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
   
.inBuyNumbers::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
   
.inBuyNumbers::after {
    background-color: white;
}
   
.inBuyNumbers:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
.inNumbersPart{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 5vh;
}
.inNumbersInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.inNumbers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inNumberImg{
    background-size: cover;
    width: 40vw;
    height: 30vw;
    margin-right: 2vw;
}
.inNumbersLeftPart{
    background-color: #064273;
    margin-right: 0.8vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    

}
.inNumbersRightPart{
    background-color: #064273;
    display: flex;
    flex-direction: column;
    flex: 2;
}
.inNumbersNamePC{
    font-size: 4vw;
    background-color: #064273;
    margin-bottom: 2vh;
    text-align: center;    
}
.inNumbersNameMB{
    display: none;
    font-size: 4vw;
    background-color: #064273;
    margin-bottom: 1vw;
    text-align: center; 
}

.inNumbersRight6{
    font-size: 3.5vw;
    text-align: end;
    margin: 1vw 2vw 0px 0px;
}

.inNumbersRight7{
    margin-right: 2vw;
    font-size: 1.5vw;
    text-align: end;
}

.inNumbersRight8{
    font-size: 2vw;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom:2vw;
}
.inNumbersRight1, .inNumbersRight2, .inNumbersRight3, .inNumbersRight4{
    font-size: 1.5vw;
    display: flex;
    align-self: stretch;
    margin: auto;
    margin-left: 2vw;
}
.inNumbersCard1{
    margin-bottom: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




@media  screen and (max-width: 768px) {
    header{
        padding: 1.5vh 0px 1.5vh 0px;
        font-size: 3vw;
    }
    footer div h3{
        font-size:3vw;
        
    }
    footer div h4,footer div div{
        font-size:2.5vw;
    }

    .inHeaderBackground{
        height: 50vh;


    }

    .inHeaderBackground, .inHeaderBDiv1, .inHeaderBDiv2 {
        background-attachment: scroll; 
        background-size: cover; 
        position: static;
    }
    .inHeaderText{
        font-size: 6vw

    }
    .inInheader{
        font-size: 4vw;
        background-attachment: initial;
    }
    .inWhyWeBlock{
        width: 100%;
        margin-bottom: 10px;
    }
    .inWhyWeBlockImg{
        width: 50vw;
        height: 37.5vw;
        background: no-repeat cover;
        border-radius: 0px
    }
    
    .inWhyWeBlockH2{
        margin-left: 15px;
        font-size: 3.5vw;
    }
    .inWhyWeBlockH3{
        margin-left: 5px;
        font-size: 2.34vw;
    }
    .inHeaderWhyWe{
        font-size: 4.5vw;
    }
    .inNumbersPart{
        width: 100%;
    }



    .inNumbersRight5{
    }
    
    .inNumbersRight6{
        font-size: 5vw;
    }
    
    .inNumbersRight7{
        font-size: 1.5vw;

    }
    
    .inNumbersRight8{

        font-size: 3vw;
        padding: 5px 10px;
    }
    .inNumbersRight1, .inNumbersRight2, .inNumbersRight3, .inNumbersRight4{
        font-size: 2.3vw; 
    }

    .loader {
        width: 100px;
        height: 100px;
    }
    .inNumbersNamePC{
        display: none;
    }
    .inNumbersNameMB{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1vw;
        font-size: 2vw;
    }







}











