








*{
    margin: 0px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    cursor: default;
    color: white;
    border: none;
    

}
body{width: 100%;}



h1{
    font-size: 6vw;

}
h2{
 font-size: 3vw;
}
h3{
    font-size: 1.5vw;
}
h4{
    font-size: 1vw;
}
h5{

}
h6{
    font-size: 0.7vw;
    background-color: black;
    text-align: right;
}


footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 10px;
    
}
footer div {
    display: flex;
    flex-direction:column ;
}
footer div div a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inFTitle{

}
.inFText{
    
}
.inFPart{
    
}
.inFIcon{
    width: 2.5vw;
    height: 2.5vw;
    align-items: center;
    margin-left: 5px;
}

.inHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 2px 30px 5px rgb(0, 0, 0);
    background-color:#064273;
    position: relative ;
}

.inInheader{
    transition: all 0.5s linear;
    transition-delay:0.1s ;
}

.inInheader:hover{
    scale: 1.1;
    
    
}


.inHeaderBackground{
    width: 100%;
    height: 100%;
    background: url("img/in_beackground_header.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95dvh;
    z-index: -20;
    background-size: cover;
    background-attachment: fixed;

}
.inHeaderText{
    font-size: 4.3vw;
    display: flex;
    text-align: start;
    align-items: center;
    margin-left: 3vw;
    text-shadow: 0px 0px 10px  rgb(0, 0, 0);
}
.inHeaderWhyWe{
    font-size: 2.5vw;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 10px  rgb(0, 0, 0);
}
.inHeaderBDiv1{
    display: flex;
    flex: 1;
}
.inHeaderBDiv2{
    
    flex: 0;
}




/*index*/




.inWhyWeInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3.5vh;

}
.inWhyWeBlock{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 3.5vh;
    transition: all 0.3s linear;
    position: relative;
    transition-delay:0.1s ;

}

.inWhyWeBlockImg{
    width: 40vw;
    height: 30vw;
    background: no-repeat cover;
    border-radius: 2vw 0px 0px 2vw ;
    
}
.inWhyWeBlockText{
    background-color: #064273;
    display: flex ;
    flex-direction: column;
    justify-content: center;
}

.inWhyWeBlockH2{
    margin: 10px 10px 5px 10px;
}
.inWhyWeBlockH3{
    margin: 0px 10px 10px 10px;
}



/* rooms */

.inNumbersH2{
    background-color: #064273;
    width: 100%;
    text-align: center;
    margin-bottom: 2.5vh;
}
.inNumbers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inNumberImg{
    background-size: cover;
    width: 40vw;
    height: 30vw;
}
.InNButton{
    background-color: #064273;
}
.inBuyNumbers{
    background-color: #064273;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
.inBuyNumbers:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}
.inNumbersPart{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 3.5vh;
}
.inNumbersRight{
    background-color: #064273;
    display: flex;
    flex: 1;
    position: relative;
    
}
.inNumbersRight1{
    position: absolute;
    top: 10%;

}
.inNumbersRight2{
    position: absolute;
    top: 30%;
}

.inNumbersRight3{
    position: absolute;
    top: 53%;
}

.inNumbersRight4{
    position: absolute;
    top: 75%;
}

.inNumbersRight5{
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 4vw;
}

.inNumbersRight6{
    position: absolute;
    font-size: 3.5vw;
    top: 10%;
    left: 60%;
}

.inNumbersRight7{
    position: absolute;
    top: 25%;
    left: 79%;
    font-size: 1.5vw;
}

.inNumbersRight8{
    position: absolute;
    top: 75%;
    left: 70%;
    font-size: 1.5vw;
    text-align: center;
    padding: 5px 10px;
}
.inNumbersRight1, .inNumbersRight2, .inNumbersRight3, .inNumbersRight4{
    font-size: 1.5vw;
    left: 5%;
}



@media  screen and (max-width: 768px) {
    header{
        padding: 1.5vh 0px 1.5vh 0px;
        font-size: 3vw;
    }
    footer div h3{
        font-size:3vw;
        
    }
    footer div h4,footer div div{
        font-size:2.5vw;
    }

    .inHeaderBackground{
        height: 50dvh;


    }

    .inHeaderBackground, .inHeaderBDiv1, .inHeaderBDiv2 {
        background-attachment: scroll; 
        background-size: cover; 
        position: static;
    }
    .inHeaderText{
        font-size: 6vw

    }
    .inInheader{
        font-size: 4vw;
        background-attachment: initial;
    }
    .inWhyWeBlock{
        width: 100%;
        margin-bottom: 10px;
    }
    .inWhyWeBlockImg{
        width: 50vw;
        height: 37.5vw;
        background: no-repeat cover;
        border-radius: 0px
    }
    
    .inWhyWeBlockH2{
        margin-left: 15px;
        font-size: 3.5vw;
    }
    .inWhyWeBlockH3{
        margin-left: 10px;
        font-size: 2vw;
    }
    .inHeaderWhyWe{
        font-size: 4.5vw;
    }
    .inNumbersPart{
        width: 100%;
    }
        













}











